.Toastify__toast {
    font-size: 16px;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
  }
  
  .Toastify__toast--success {
    background-color: #28a745; /* Green for success */
  }
  
  .Toastify__toast--error {
    background-color: #dc3545; /* Red for errors */
  }
  