header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 20px;
    color: white;
}

.logo {
    flex: 1;
}

.logo-text {
    color: white;
    text-decoration: none;
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold; /* Make the text bold */
}

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Adjust size as needed */
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

.user-icon {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.user-icon a {
    color: white;
    text-decoration: none;
}
