/* Container for the login and register forms */
#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1;
}

/* General form styling */
.authForm {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form labels */
.form-label {
  font-weight: bold;
  color: #333;
}

/* Form controls (input fields) */
.form-control {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* Submit button styling */
.btn-primary {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
}

/* Submit button hover effect */
.btn-primary:hover {
  background-color: #45a049;
}

/* Radio button group styling */
.radio-group {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  gap: 25px; /* Increased gap between radio buttons */
  margin-bottom: 20px; /* Space below the radio buttons */
}

.radio-group label {
  font-weight: bold;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

/* Dark mode adjustments */
body.dark-mode .authForm {
  background-color: #303234;
  color: white;
}

body.dark-mode .form-label,
body.dark-mode .radio-group label {
  color: white;
}

body.dark-mode .form-control {
  background-color: #444;
  color: white;
  border: 1px solid #666; /* Adjust border color for dark mode */
}

body.dark-mode .btn-primary {
  background-color: #4CAF50;
  border-color: #38783a;
}

body.dark-mode .btn-primary:hover {
  background-color: #155cb0;
}

/* Footer styling */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px 0;
}
